<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683030558592-b4dlfa26otahb9nmsoqel39ajjd52rfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683030558592-b4dlfa26otahb9nmsoqel39ajjd52rfr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683030558592-r8vlkho8mn9ppk3s1n80i5sep558auka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUBnbJQ9KJ0pzNaUR2PdyDKf5PI9J2m-k</string>
	<key>GCM_SENDER_ID</key>
	<string>683030558592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungtransport</string>
	<key>PROJECT_ID</key>
	<string>ungtransport-7e3bd</string>
	<key>STORAGE_BUCKET</key>
	<string>ungtransport-7e3bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683030558592:ios:7d3b1fd1829cd374c6b365</string>
</dict>
</plist>